name: CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      buildVersion: 0.0.0.0a #The initial build version, calculated and updated in the script below
      buildVersion1: 1
      buildVersion2: 2
    steps:
      - run: |
          $b1 = "1.0.0.0"
          $b2 = "2.0.0.0"
          echo "env.buildVersion1=$b1" >> $GITHUB_ENV
          echo "buildVersion2=$b2" >> $GITHUB_ENV
          
      - run: |
          echo ${{env.buildVersion}}
          echo ${{env.buildVersion1}}
          echo ${{env.buildVersion2}}
